.circle-text-animation-circle {
  position: relative;
  border-radius: 50%;
  z-index: 1;
  animation: circle-text-animation-rotate 20s linear infinite;
}

@keyframes circle-text-animation-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-text-animation-placement {
  position: absolute;
  top: 128%;
  left: 53%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1440px) {
  .circle-text-animation-placement {
    top: 125%;
    left: 32%;
  }
}

@media only screen and (max-width: 768px) {
  .circle-text-animation-circle {
    display: none;
  }
}
