.about-me-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.arrow-icon {
  height: 50px;
  width: 50px;
}

.barre {
  width: 10px;
  height: 2px;
  background-color: #000;
  width: 43%;
  margin: 0;
}

.glass_effect_home {
  background: rgba(255, 255, 255, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 5px;
}
