.about__section {
  background-color: #000;
  display: flex;
}

.about__bg-container {
  width: 100%;
  max-width: 960px; /* Set a maximum width for the image */
  margin: 0 auto;
}

.about__bg-container img {
  width: 100%;
  height: 660px;
}

.about__inner {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3.99%;
  margin: 0 auto;
  max-width: 86.93%;
  width: 100%;
  color: #fff;
  padding: 25px 0 55px;
}

.about__content {
  grid-column: 1 / -1;
}

.about__badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about__text {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  margin-top: 20px;
}

.about__badge-name,
.about__badge-bottom {
  display: inline-block;
  font-size: 35px;
  position: relative;
  text-transform: uppercase;
}

.about__blurb {
  font-size: 15px;
  letter-spacing: initial;
  line-height: 1.67;
  font-weight: 300;
  text-transform: initial;
  color: #fff;
}

.about__spotify {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  margin-top: 9%;
}

.about__social {
  filter: invert(1);
  margin: 0 10px;
  margin-top: 2.5%;
}

.about__social a {
  margin: 0 5px;
}

@media screen and (max-width: 1600px) {
  .about__bg-container img {
    height: 625px;
  }
}

@media screen and (max-width: 1400px) {
  .about__section {
    display: flex;
    flex-direction: column;
  }

  .about__bg-container img {
    height: auto;
  }
}

@media screen and (max-width: 1200px) {
  .about__inner {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3.99%;
    margin: 0 auto;
    max-width: 86.93%;
    width: 100%;
    color: #fff;
    padding: 25px 0 55px;
  }
}

@media screen and (max-width: 768px) {
  .about__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.99%;
    margin: 0 auto;
    max-width: 86.93%;
    width: 100%;
    color: #fff;
    padding: 25px 0 55px;
  }
}

@media screen and (max-width: 480px) {
  .about__inner {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 25px 0;
  }
}
