.card__container {
  background-color: #000;
  color: #fff;
  margin: 0 13px 20px 13px;
  padding: 15px;
  border: 1px solid #fff;
  max-width: 500px;
  margin-bottom: 30px;
}

.card__text h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card__text p {
  font-size: 16px;
  line-height: 1.5;
}

.card__icons__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.github__card__icons {
  margin-top: 20px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  margin-left: 10px;
}

.card__icons {
  margin-top: 20px;
  height: 40px;
  width: 40px;
}

@media only screen and (max-width: 767px) {
  .card__icons__skills {
    justify-content: space-between;
  }
  .card__container {
    height: auto;
    padding: 10px;
    max-width: 100%;
  }
  .card__icons__skills {
    margin-top: 10px;
  }
  .card__icons__skills img {
    margin-top: 0;
  }
}
