/* Styles for the contact section */
.contact__section {
  background-color: #000000;
  color: #ffffff;
  padding: 0px 50px 50px 50px;
}

.contact__inner {
  display: flex;
  justify-content: center;
}

.contact__content {
  max-width: 700px;
  text-align: center;
}

.contact__badge {
  margin-bottom: 20px;
}

.contact__badge-name {
  letter-spacing: 20px;
}

.contact__badge-name h1 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.contact__badge-bottom {
  font-size: 1rem;
}

.contact__text {
  margin-bottom: 20px;
}

.contact__blurb {
  font-size: 1rem;
  line-height: 1.5;
}

.contact__social {
  margin-top: 20px;
}

.contact__social a {
  filter: invert(100%);
  display: inline-block;
  margin-right: 10px;
}

.contact__informations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: #fff solid 1px;
}

.contact__informations__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

.contact__informations__item p {
  margin: 0;
  margin-top: 10px;
  font-size: 1rem;
}

.contact__social img {
  filter: grayscale(100%);
}

.contact__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.popup {
  position: absolute;
  right: 0px;
  transform: translateY(-500%);
  background-color: #000000;
  border: 1px solid #ffffff;
  padding: 20px;
  z-index: 9999;
  transition: right 0.5s ease-in-out;
}

.popup__content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 16px;
}

.popup__content p {
  color: #ffffff;
  margin: 0;
}

@media (max-width: 600px) {
  .contact__section {
    padding: 0 20px;
  }

  .contact__badge-name {
    letter-spacing: 10px;
  }

  .contact__H__line {
    width: 100%;
    margin-left: 0;
  }

  .contact__informations {
    flex-direction: column;
  }

  .contact__informations__item {
    width: 100%;
    padding: 10px;
  }
}
