.primary-background-color {
  background-color: var(--light-mode-color);
  padding-top: 5%;
}

.text-color {
  color: var(--light-mode-text);
}

/* glass effect*/

.glass_effect_home {
  background: rgba(255, 255, 255, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 1);
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 5px;
}

/* about me section*/

.about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  margin: 0;
}

.about_me_content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light-mode-text);
  text-align: left;
  margin-bottom: 0.5rem;
}

.about_me_content p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-mode-text);
  text-align: left;
  margin-bottom: 0.5rem;
}

/* passion section*/

.my_passion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  margin: 0;
}

.my_passion_content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light-mode-text);
  text-align: left;
  margin-bottom: 0.5rem;
}

.my_passion_content p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-mode-text);
  text-align: left;
  margin-bottom: 0.5rem;
}
