.about__me__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about__me__image__container {
  flex: 1;
  max-width: 50%;
}

.about__me__image__container img {
  width: 100%;
}

.profile__image {
  width: 100%;
}

.about__me__text__container {
  flex: 1;
  max-width: 50%;
  text-align: center;
  color: white;
}

.about__me__text__container h2 {
  margin-bottom: 5%;
}

.about__text {
  margin-top: 15px;
}

.about__social {
  display: flex;
  align-items: flex-start;
}

.about-spotify,
.about__social {
  margin-top: 10px;
}

.about-spotify iframe {
  width: 100%;
  max-width: 400px;
  border: none;
  margin-top: 10px;
}

.about__social a {
  margin: 0 5px;
  text-decoration: none;
}

.about__social img {
  filter: invert(1);
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.about__social img:hover {
  transform: scale(1.2);
}

.circle__text__animation {
  position: relative;
}

@media screen and (max-width: 768px) {
  .about__me__container {
    flex-direction: column;
  }

  .circle__text__animation {
    display: none;
  }
  .about__me__image__container,
  .about__me__text__container {
    max-width: 100%;
    padding-bottom: 3%;
  }

  .profile__image {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }
}
